@import "../lib/Vars.scss";

.messages-list {
  background-color: $background-color;
  background-image: url("../../assets/images/i-like-food.svg");
  background-size: 200px 200px;
  height: calc(100vh - 12rem);
  padding: 1rem 2rem 2rem;
  overflow-y: scroll;
  scroll-behavior: smooth;

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // background: $background-color;
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($color: #eee, $alpha: 0.5);
    // border-radius: 0.4rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color: #eee, $alpha: 0.75);
    // background: #555;
  }
}
